body{
    background-color: hsl(257,40%,49%);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
   
    
    
}

.backgroundImage{
    position: absolute;
    height: 950px;
    top: -5px;
    z-index: -1;
}

.logoImage{
    margin: 35px 0 105px 35px;
}

.mainSection{
    display: flex;
    flex-direction: row;
    justify-content: start;
    color: white;
    margin-left: 85px;
    
}

@media only screen and (max-width: 1330px){
    .mainSection{
        flex-wrap: wrap;
    }
}



.mainSection__image{
    height: 37rem;
}

.mainSection__article{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 15px 0 0 80px;
    
}

.mainSection__h1{
    font-size: 3rem;
    max-width: 40rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.mainSection__paragraph{
    max-width: 41rem;
    font-size: 1.3em;
    font-weight: 400;
}



.mainSection__button{
    height: 60px;
    width: 250px;
    font-weight: 600;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgb(22, 21, 21);
    border: none;
    color: rgb(160, 144, 197);
}

.mainSection__button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

.mainSection__button:active{
    background-color: hsl(300, 47%, 73%);
}

footer{
    
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 88vw;
    height: 100px;
    margin: 30px 0 0 0;
}

.footer__Icon{
    margin-right: 30px;
    width: 48px;
    filter: invert(94%) sepia(0%) saturate(24%) hue-rotate(24deg) brightness(105%) contrast(108%); /* fitler is to color svg icon */
}


